@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    font-family: "SUSE", system-ui;
    font-optical-sizing: auto;
    font-style: normal;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;

}

body {
    min-height: 100vh;
    color: hsl(0, 0%, 15%);
    background-color: hsl(0, 0%, 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
    display: flex;

    @media (min-width:760px) {

        height: 90vh;
        width: 25rem;
        border-radius: 40px;
        border: 10px solid hsl(0, 0%, 15%);
    }
}

.wrapper .screen {
    flex: 1;
    min-width: 100%;
    transition: 400ms cubic-bezier(0.23, 1, 0.320, 1);
}

.wrapper.show-category .home-screen {
    transform: translateX(-100%);
}

.wrapper.show-category .category-screen {
    transform: translateX(-100%);
}

.wrapper.show-category .screen-bacdrop {
    transform: translate(-50%, -60%);
}

.screen-bacdrop {
    width: 150%;
    height: 20rem;
    background-color: yellow;
    border-radius: 0 0 50% 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.head-wrapper {
    padding: 0 30px;
}

.menu-btn {
    width: 2rem;
    cursor: pointer;
    color: hsl(0, 0%, 15%);
}

.welcome {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.welcome h3 {
    font-size: 1.5rem;
}

.welcome p {
    font-weight: 500;
}

.welcome .img {
    position: relative;
}

.welcome .img img {
    width: 5em;
}

.welcome .img .backdrop {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
    z-index: -1;
}

.categories-wrapper {
    margin-top: 1em;
    height: calc(100% - 8em);
    padding: 0 2em;
    padding-bottom: 1.5em;
    overflow: auto;
}

.categories {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.categories .category {
    background-color: hsl(0, 0%, 100%);
    border-radius: .5em;
    padding: 1.5em 1em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: transform 340ms cubic-bezier(0.19, 1, 0.22, 1), box-shadow 400ms ease;

    &:hover {
        transform: translateY(-10px);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    &:hover .options {
        opacity: 1;
        visibility: visible;
    }
}

.category .left {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.category .left img {
    width: 3em;
}

.category .left h1 {
    font-size: 1.5em;
}

.category .content p {
    color: #2e2e2e;
    font-size: .8em;
    opacity: .6;
}

.category .options {
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease;
}

.category .toggle-btn {
    width: 2em;
    cursor: pointer;
    opacity: .6;
}

/** Task Screen  */
.category-screen .head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-screen .head-wrapper svg {
    width: 2.5em;
    cursor: pointer;
    color: hsl(216, 8%, 12%);
}

.category-screen .head-wrapper .options svg {
    width: 2em;
}

.category-details {
    padding: 0 30px;
    margin-top: 7em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.category-details img {
    width: 4em;
}

.category-details p {
    opacity: .6;
}

/** Task */

.tasks-wrapper {
    padding: 0 2em;
    margin-top: 1em;
    height: calc(100% - 12em);
    padding-bottom: 1.5em;
    overflow: auto;

}

.tasks {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.task-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover .delete {
        visibility: visible;
        opacity: 1;
    }
}

.task {
    display: flex;
    gap: .5em;
    align-items: center;
    font-size: 1.1em;
    font-weight: 600;
    width: max-content;
    cursor: pointer;

    &:hover .checkmark svg {
        opacity: 1;
    }
}

.task input {
    display: none;

    &:checked~.checkmark {
        background-color: hsl(216, 8%, 12%);
    }

    &:checked~.checkmark svg {
        opacity: 1;
        color: hsl(0, 0%, 100%);
    }

    &:checked~p {
        text-decoration: line-through;
    }
}

.task .checkmark {
    width: 1em;
    height: 1em;
    border-radius: 2px;
    border: 1px solid hsl(216, 8%, 12%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.task .checkmark svg {
    width: 1em;
    color: hsl(216, 8%, 12%);
    opacity: 0;
    transition: 300ms ease;
}

.task .checkmark svg path {
    stroke-width: 3;
}

.task-wrapper .delete {
    min-width: 2em;
    height: 2em;
    padding: .5em;
    border-radius: 59%;
    color: hsl(216, 8%, 12%);
    cursor: pointer;
    background-color: hsla(0, 0%, 0%, 0.103);
    opacity: 0;
    visibility: hidden;
    transition: 399ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
        color: hsl(0, 75%, 46%);
        background-color: hsla(0, 75%, 46%, 0.151);
    }
}

/** Add task */

